// Custom Font for Navbar

.navbar-text {
  font-family: "SF Pro Display", sans-serif;
  font-weight: bold;
}

.page-title {
  font-family: "SF Pro Display", sans-serif;
  font-weight: bolder;
  font-size: 1000%;
}

.default-font {
  font-family: "SF Pro Display", sans-serif;
}

.nav-link {
  transition: color 0.3s ease;
  font-family: "SF Pro Display", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 130%;
}

.nav-link:hover {
  color: #d55151;
}

.active {
  color: #C32026 !important;
}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

