// Custom Font for Navbar

.navbar-text {
  font-family: "SF Pro Display", sans-serif;
  font-weight: bold;
}

.page-title {
  font-family: "SF Pro Display", sans-serif;
  font-weight: bolder;
  font-size: 1000%;
}

.default-font {
  font-family: "SF Pro Display", sans-serif;
}

.nav-link {
  transition: color 0.3s ease;
  font-family: "SF Pro Display", sans-serif;
  font-weight: bold;
  font-size: 130%;
  color: #FFFFFF;
}

.nav-link:hover {
  color: #d55151;
}

.active {
  color:#d55151 !important;
}

html {
  scroll-behavior: smooth;
}

.spacer {
  height: 100px;
  background-color: #000000;
}


/* Accent color for the boxes */
.bg-accent {
  background-color: #1B1C1E; /* Replace with your accent color */
  color: #FFFFFF; /* Text color for contrast */
}

/* Center content and add border-radius */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px; /* Rounded corners */
  height: 100%; /* Ensures consistent box height */
}

/* Typography adjustments */
h4 {
  font-size: 1.5rem; /* Slightly larger title */
}

p {
  font-size: 1rem; /* Standard paragraph size */
  line-height: 1.5; /* Improve readability */
  margin: 0;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard syntax */
}

td, th {
  border: 1px solid #ccc;
  padding: 10px; /* Adds space inside the cells */
}

a {
  color: #d55151;
}

.footer-divider {
  border: none;
  border-top: 1px solid #FFFFFF;
  margin: 0;
  padding: 10px 0;
}

.footer-link {
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #d55151;
}