body {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display", sans-serif;
}

#footer-background {
    background-color: rgba(240, 240, 240, 1);
}

.main-footer-container {
    margin: 0 25vh;
    height: 10vh;
}

.main-footer-container .main-footer-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-footer-text-container p {
    color: #AF233C;
}

.main-footer-button-container a {
    color: aqua;
    text-decoration: none;
}
